@font-face {
    font-family: 'Frutiger_bold'; 
    src: url('./frutiger-cufonfonts-webfont/Frutiger_bold.woff') format('truetype'); 
    font-style: normal;
    font-weight: normal;
  }
  
@font-face {
    font-family: 'Frutiger'; 
    src: url('./frutiger-cufonfonts-webfont/Frutiger.woff') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  